# raw and processed data (SQLite runs, CSVs, figures)
data/00_raw/
data/01_processed/
*.zip
*.json
*.csv

# virtual environments
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db